{% extends "layout.html" %}
{% set active_page = from_page %}

{% block title %}
    Explore
{% endblock title %}

{% block main %}
    {% from "includes/formhelpers.html" import render_field %}
    <div class="tile tile-wide">
        <h1 class="display-6 text-center mb-0">{{ planet.name }}</h1>
        <h2 class="text-center mb-3">Discovery {{ discovery.number }} of {{ planet.things_to_discover }}</h2>
        <div class="progress mb-2">
            <div class="progress-bar" role="progressbar"
                style="width: {{ discovery.number / planet.things_to_discover * 100 }}%"
                aria-valuenow="{{ discovery.number }}" aria-valuemin="0" aria-valuemax="{{ planet.things_to_discover }}">
            </div>
        </div>
        <div class="p-5 bg-dark text-light rounded-3">
            <p>{{ discovery.circumstances }}: {{ discovery.thing_discovered }}.</p>
            <form method="POST" action="" novalidate>
                {{ form.csrf_token }}
                <div class="form-group mb-3">
                    {{ render_field(form.description) }}
                </div>
                <div class="text-center mb-2">
                    {{ form.submit(class="btn btn-secondary") }}
                </div>
            </form>
        </div>
    </div>
{% endblock main %}