{% extends "layout.html" %}
{% set active_page = "main.index" %}

{% block title %}
    Home
{% endblock title %}

{% block main %}
    <div class="tile tile-wide">
        <div class="p-5 bg-dark text-light rounded-3">
            <h1 class="display-6 mb-3">Welcome, Space Explorer</h1>
            <p class="mb-1">Use this web app to log your <a href="https://noroadhome.itch.io/alone-among-the-stars"
                    class="link-success">Alone Among
                    the Stars</a> adventures.
            </p>
            <p>
                <a href="{{ url_for('users.register') }}" class="link-success">Register</a> or <a
                    href="{{ url_for('users.login') }}" class="link-success">log in</a> to get started.
            </p>
        </div>
    </div>
{% endblock main %}