{% extends "layout.html" %}
{% set active_page = "discoveries.archive" %}

{% block title %}
    Archive
{% endblock title %}

{% block main %}
    <div class="tile tile-wide">
        
        <h1 class="display-6 text-center">Archive</h1>
        {% if planets.count() %}
        <div class="list-group">
            {% for planet in planets|sort(attribute='id', reverse = True) %}
                <a href="{{ url_for('discoveries.planet', planet_id=planet.id) }}" class="list-group-item list-group-item-action fs-5">{{ planet.name }}</a>
            {% endfor %}
        </div>
        {% else %}
            <div class="text-center">
                <div class="text-light mb-2">Nothing here yet.</div>
                <div><a href="{{ url_for('discoveries.explore')}}"" class="btn btn-outline-secondary">Start Exploring</a></div>
            </div>
        {% endif %}
    </div>
{% endblock main %}