{% extends "layout.html" %}
{% set active_page = "discoveries.explore" %}

{% block title %}
    Explore
{% endblock title %}

{% block main %}
    <div class="tile tile-narrow">
        {% include 'includes/messages.html' %}
        <div class="p-5 bg-dark text-light rounded-3">
            <h1 class="display-6 text-center">Explore</h1>
            <p class="text-center">There are {{ things_to_discover }} things to discover on this planet.</p>
            <div class="text-center mt-4">
                <a class="btn btn-secondary me-1" href="{{ url_for('discoveries.explore') }}">Find Another</a>
                <form method="POST" action="" style="display:inline-block">
                    <input type="hidden" name="things_to_discover" value="{{ things_to_discover }}">
                    <input type="submit" class="btn btn-secondary ms-1" value="Start">
                </form>
            </div>
        </div>
    </div>
{% endblock main %}