{% extends "layout.html" %}
{% set active_page = "main.music" %}

{% block title %}
    Music
{% endblock title %}

{% block main %}
    <h1 class="display-6 text-center">Music</h1>
    <div class="tile tile-wide">
        {% include 'includes/messages.html' %}
        <div class="p-5 bg-dark text-light rounded-3">
            <p>Below are some YouTube links for playlists with evocative titles to help you set the mood for your space
                explorations. Open one of them in a new tab and start exploring.</p>
            <div class="list-group list-group-flush">
                <a href="https://youtu.be/n5N1cZnS6ZM" class="list-group-item border-secondary" target="_blank">Playlist for
                    traveling in empty places</a>
                <a href="https://youtu.be/FLVTp-8ZhAw" class="list-group-item border-secondary" target="_blank">You're
                    exploring an abandoned planet discovering that it was inhabited by an advanced civilization</a>
                <a href="https://youtu.be/NRwoqT6JBRA" class="list-group-item border-secondary" target="_blank">You're
                    an astronaut lost in space discovering things that humanity will never be able to</a>
            </div>
        </div>
    </div>
{% endblock main %}