.tile {
    width: 95%;
    margin: auto;
}

.tile-narrow {
    max-width: 400px;
}

.tile-wide {
    max-width: 600px;
}

.archive-discovery-heading {
    display: flex;
    align-items: baseline;
}

#archive-accordion-item {
    border-color: var(--bs-secondary);
}

#archive-accordion-button:not(.collapsed) {
    color: var(--bs-light);
    background-color: var(--bs-dark);
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) saturate(100%) invert(100%) sepia(98%) saturate(452%) hue-rotate(304deg) brightness(105%) contrast(98%);
}